body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: #f8f9fa;
  padding: 0 20px;
}

.header h5 {
  color: #495057;
  font-size: 1em;
}

.header .header-contact {
  display: flex;
  direction: row;
}

.header-contact p {
  margin: 0 10px;
  color: #495057;
  font-size: 1.3em;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #f8f9fa;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #495057;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-title {
  cursor: pointer;
  color: #495057;
  padding: 14px 16px;
  border: none;
  font-size: 20px;
  margin: 0 10px;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0px;
}

.dropdown-content a {
  color: #495057;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: transparent;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  background-color: transparent;
}

.carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 25vw;

  /* transparent white color*/
  background-color: rgba(255, 255, 255, 0.5);
}

.card p {
  margin: 0;
  color: #495057;
  font-size: 2em;
  font-weight: bold !important;
}
